<article>
  <h2>Task Description</h2>

  <section>
  <p>Task: <%= @task.action %></p>
  <p>Description: <%= @task.description %></p>
  <p>Date to Complete: <%= @task.completion_date %></p>

  <% if @task.completed %>
    <p>Date task completed: <%= @task.date_completed %> </p>
  <% end %>

  </section>
  
  <%= link_to "Update Task", edit_task_path(@task.id) %><br>

</article>
